<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Practica 4 Vuejs 2- events</title>
  </head>
  <body>
    <main>

      <ul>
        <li v-for="tarea in tareas">
            {{ tarea }}
        </li>
      </ul>

      <input type="text" name="" value="" placeholder="Introduce tu tarea" v-model="nuevaTarea">
      <input type="button" name="Enviar tarea" value="Enviar tarea" v-on:click="agregarTarea">

      <form v-on:submit.prevent="agregarTarea">
        <input type="text" name="" value="" placeholder="Introduce tu tarea" v-model="nuevaTarea">
        <input type="submit"  value="Enviar tarea con form">

      </form>

    </main>
    <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: 'main',
        data: {
          conectado: true,
          nuevaTarea: null,
          tareas: [
            'hacer la compra',
            'cocinar',
            'aprender vue',
          ],

        },
        methods: {

            agregarTarea(){
              this.tareas.unshift(this.nuevaTarea);
              this.nuevaTarea='';
            }

        },
      });
    </script>
  </body>
</html>
